CI:
  POLICY_NAME: "CI"
  NOBUILD: "true"
  NOUMBRELLAPUBLISH: "true"
  VAULT_KEYS_TO_INJECT: "ARTIFACTORY_USER,ARTIFACTORY_KEY"
  NOHELMCHART: "true"
  SONARQUBE_VERSION: "v1.0.6"
  PREFIX: "deid"
CIVALIDATE:
  POLICY_NAME: "CIVALIDATE"
  NOBUILD: "true"
  NOUMBRELLAPUBLISH: "true"
  VAULT_KEYS_TO_INJECT: "ARTIFACTORY_USER,ARTIFACTORY_KEY"
  NOHELMCHART: "true"
  BUILD_FILE: "./pom.xml"
  BUILD_OPTIONS: "-DskipTests -s./settings.xml"
CD: 
  POLICY_NAME: "CD"
  APP_NAME: "wh-deid"
CT: 
  POLICY_NAME: "CT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PROCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
ASOC:
  ASOC_APP_NAME: "De-Identification-OpenSource"
  KEY_ID: "88bed252-7622-6fad-73cb-7e69517e7e0d"
